<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="perfectionis - your commercial pharma/biotech team extension">
    <meta name="keywords" content="perfectionis,pharma,biotech,extension">
    <meta name="author" content="Vincent Metzler">
    <script src="https://unpkg.com/vue@3.2.21"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Teko&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&family=Quicksand&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="graphics/Icon_C.png">
    <title>perfectionis</title>
</head>
<body>
    <div class="background">
        <img src="graphics\Background_Graph_2.png" id="bg-tl">
        <img src="graphics\Background_Graph_2.png" id="bg-br">
    </div>
    <div id="app">
        <div class="main-center">
            <div class="grid-header">
                <div class="flex-header">
                    <img src="graphics/Perfectionis_Logo_C.png" id="logo" alt="perfectionis logo" v-on:click="switchToTab('Who perfectionis is')" title="Home">
                    <div id="description-top">your commercial pharma/biotech team extension</div>
                </div>
                <div onclick="javascript:toggleMenu()" title="Open / Close the side navigation">
                    <span id="open-menu">&#9776;</span>
                </div>
            </div>
            
            <div v-if="!(disclaimerSeen)" id="disclaimer-container">
                <div id="disclaimer">
                    <div>Perfectionis GmbH does not collect any user information through this website, no cookies are used.</div>
                    <button v-on:click="disclaimer()">Okay</button>
                </div>
            </div>

            <div class="side-nav">
                <div v-for="option in menuOptions"
                v-on:click="switchToTab(option, true)"
                :class="{highlighted: option == currentTab}">{{option}}</div>
            </div>

            <div class="menu-bar">
                <div v-for="option in menuOptions"
                v-on:click="switchToTab(option)"
                :class="{highlighted: option == currentTab}">{{option}}</div>
            </div>

            <div v-if="currentTab == 'Why perfectionis'">
                <h2>Why perfectionis</h2>
                <div class="main">
                    <div class="image-container">
                        <img src="resources/why.gif" class="image" width>
                    </div>
                    <div>
                        <p>
                            Our reason to be, and our ambition, is to serve as <g>the perfect extension of your commercial team</g> <b>within your pharmaceutical/biotech company.</b>
                        </p>
                        <p>
                            If you answer “yes” to any of the questions below, then you should <span class="link-green" v-on:click="switchToTab('Contact')">contact us</span>!
                            <ul>
                                <li>Do you have <b>high quality expectations</b> for your business deliverables?</li>
                                <li>Do you seek for a <b>trustful relationship</b> with your business partners?</li>
                                <li>Do you have needs for <b>content development</b>?</li>
                                <li>Are you looking for <b>strategic input</b>?</li>
                                <li>Do you need <b>expertise in launching an orphan drug</b> in rare/ultra-rare diseases?</li>
                                <li>Are you experiencing <b>resource limitations</b> (e.g. manpower)?</li>
                                <li>Are you working under constant or recurring <b>time pressure</b>?</li>
                                <li>Have you ever been <b>disappointed</b> by a medical/marketing agency?</li>
                            </ul>
                        </p>
                        <p>
                            <b>Perfectionis GmbH</b> is a boutique agency located in Switzerland, a major hub for the international pharmaceutical and biotech sector.
                        </p>
                    </div>
                </div>
            </div>
            <div v-if="currentTab == 'Who perfectionis is'">
                <h2>Who perfectionis is</h2>
                <div class="main">
                    <div class="image-container">
                        <img src="resources/portrait_vincent.jpg" alt="Portrait of Vincent" class="image vincent" width>
                    </div>
                    <div>
                        <p>
                            <b>Perfectionis GmbH</b> has been founded by <g>Dr. Vincent Metzler</g>, an established executive in the international pharmaceutical & biotechnology industry.
                        </p>
                        <p>
                            Overall, Vincent brings over 20 years of commercial operations experience in the international top-pharma and biotech industry, covering the areas of orphan/ultra-orphan drugs, cell therapies, targeted therapies and supportive care, in various therapeutic areas such as oncology, hematology, nephrology, hepatology, neurology and immunology.
                        </p>
                        <p>
                            Vincent holds a Ph.D. in Molecular Biology from the University of Berne, Switzerland. He speaks fluently English, French and German.
                        </p>
                        <button v-on:click="toggleCareer()" v-if="!showFullCareer">Read more</button>
                        <div v-if="showFullCareer">
                            <p>
                                Besides leading Perfectionis GmbH, Vincent also is the CEO of Kither Biotech, a preclinical stage biopharmaceutical company developing novel therapies for rare pulmonary diseases with high unmet medical needs. The company’s expertise comprises the effective delivery of signal transduction inhibition to the respiratory system, offering a strong potential for improved efficacy and safety in the lung for patients with Cystic Fibrosis, Idiopathic Pulmonary Fibrosis and other respiratory diseases. 
                            </p>
                            <p>
                                Before founding Perfectionis GmbH, Vincent acted as Vice President, Head of Marketing and Commercial Operations, Europe, at Atara Biotherapeutics, a leading immunotherapy company developing allogeneic, off-the-shelf virus-specific T cells for the treatment of virus-associated disorders like Epstein-Barr Virus-positive Post-Transplant Lymphoproliferative Disease (EBV+ PTLD). In this role Vincent was member of the European Leadership Team, driving the commercial expansion of Atara Biotherapeutics’ operations across the major European markets, and leading all marketing and commercial operations strategies and initiatives for the launch of the first cell therapy of its kind in Europe, in an ultra-rare disease.
                            </p>
                            <p>
                                Previously, Vincent served as a member of the Executive Leadership Team of Wilson Therapeutics, a Swedish biotech company in clinical-stage development of a novel therapeutic agent for Wilson Disease, a rare disease of impaired copper metabolism. He played a pivotal role in the M&A activities that led to the acquisition of Wilson Therapeutics by Alexion in May 2018, through a public cash offer corresponding to a total company value of approx. SEK 7.1 billion (USD 855 million).
                            </p>
                            <p>
                                Earlier in his career, Vincent was holding senior commercial leadership positions at Alexion Pharmaceuticals, lastly as Head of EMEA Marketing Soliris<sup>&reg;</sup> & Core Member of the Soliris<sup>&reg;</sup> Global Leadership Team, and held various marketing & sales positions at Miltenyi Biotec GmbH, F. Hoffmann-La Roche Ltd, Amgen Inc. and Idexx Laboratories. During his commercial career, Vincent did lead several key local and international pharmaceutical product launches.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="currentTab == 'What perfectionis offers'">
                <h2>What perfectionis offers</h2>
                <div class="main">
                    <div class="image-container">
                        <img src="resources/what.gif"  class="image what" width>
                    </div>
                    <div>
                        <p>
                            <b>Perfectionis GmbH</b> is a boutique agency that has been created to <g>support your pharmaceutical/biotech commercial team</g> in developing and delivering <g>high-quality content</g>:
                        </p>
                        <ul>
                            <li><b>Development of your strategy / business / corporate documents</b></li>
                            <ul class="black">
                                <li>Comprehensive slide decks for non-executive and executive audiences</li>
                                <li>Business data analysis and reporting</li>
                                <li>White papers</li>
                            </ul>
                            <li><b>Collection of your business intelligence data (desk research)</b></li>
                            <ul class="black">
                                <li>Competitive intelligence</li>
                                <li>Scientific literature search</li>
                                <li>KOL identification</li>
                            </ul>
                            <li><b>Implementation of your medical / marketing communication plan</b></li>
                            <ul class="black">
                                <li>Messaging</li>
                                <li>Medical writing</li>
                                <li>Launch campaigns</li>
                                <li>Brand management</li>
                            </ul>
                            <li><b>Development of your business cases / commercial plans</b></li>
                            <ul class="black">
                                <li>Strategic input</li>
                                <li>Templates</li>
                                <li>Documents drafting and editing</li>
                            </ul>
                        </ul>
                        <p>
                            If required, Perfectionis GmbH will collaborate with your current service providers or will be pleased to introduce you to its network of trusted and reliable service providers (e.g. event management, health economics, market research, creative design…).
                        </p>
                        <p>
                            You have a very specific need? Don’t hesitate to <span class="link-green" v-on:click="switchToTab('Contact')">contact us</span>, perfectionis will be happy to assist!
                        </p>
                    </div>
                </div>
            </div>
            <div v-if="currentTab == 'How perfectionis operates'">
                <h2>How perfectionis operates</h2>
                <div class="main">
                    <div class="image-container">
                        <img src="resources/how.gif"  class="image" width>
                    </div>
                    <div>
                        <b>Perfectionis GmbH</b> always strives to serve you according to the <g>highest standards and principles</g> of:
                        <ul class="space-between-li">
                            <li>
                                <b>Quality</b>
                                <br>You deserve the highest quality deliverables – explain what you expect and perfectionis will deliver accordingly
                            </li>
                            <li>
                                <b>Reliability</b>
                                <br>You want to avoid any surprise – perfectionis will partner with you / your team in a constant exchange of information, to ensure that your project progresses as expected
                            </li>
                            <li>
                                <b>Timeliness</b>
                                <br>You must meet your timelines – share them and perfectionis will develop a detailed project plan and deliver against it
                            </li>
                            <li>
                                <b>Cost effectiveness</b>
                                <br>You choose between two costing models, depending on your needs and constrains:
                                <ul class="black space-between-li">
                                    <li>hourly fee<br>⇨ provides you flexibility as your project progresses</li>
                                    <li>fixed fee package<br>⇨ provides you full predictability and control of your budget</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div v-if="currentTab == 'Contact'">
                <h2>Contact</h2>
                <div class="main">
                    <div class="image-container">
                        <img src="resources/contact.gif"  class="image" width>
                    </div>
                    <div>
                        <p>
                            You can reach <b>Perfectionis GmbH</b> very easily:
                            <ul class="space-between-li">
                                <li><b>e-mail</b><br>Just send your comment or request to <a href="mailto:info@perfectionis.com">info@perfectionis.com</a></li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="icons-bottom">
                <div class="icon-bottom" v-on:click="showAGB()" title="View the General Terms and Conditions (Allgemeine Geschäftsbedingungen)">General Terms and Conditions</div>
                <div class="copyright-text">Copyright &copy; 2020-2021 Perfectionis GmbH. All rights reserved.</div>
            </div>
        </div>
    </div>
    
    <script>
        var ref = Vue.ref;

        Vue.createApp({
            setup() {
                
                let disclaimerSeen = ref(localStorage.getItem("disclaimerSeen"));
                if (disclaimerSeen.value == null) {
                    disclaimerSeen.value = false;
                }

                function disclaimer() {
                    disclaimerSeen.value = true;
                    localStorage.setItem("disclaimerSeen", true);
                }

                let menuOptions = [
                    "Who perfectionis is",
                    "Why perfectionis",
                    "What perfectionis offers",
                    "How perfectionis operates",
                    "Contact"
                ]

                let currentTab = ref(localStorage.getItem("currentTab"));
                if (currentTab.value == null) {
                    currentTab.value = "Who perfectionis is";
                    localStorage.setItem("currentTab", "Why perfectionis");
                }

                function switchToTab(tab, menu=false) {
                    currentTab.value = tab;
                    localStorage.setItem("currentTab", tab);
                    if (menu)
                        toggleMenu();
                }

                function showAGB() {
                    window.open("/resources/Perfectionis GmbH_AGBs_E_20210930.pdf"); // TODO: change url
                }

                let showFullCareer = ref(false);

                function toggleCareer() {
                    showFullCareer.value = true;
                }

                return {
                    menuOptions,
                    switchToTab,
                    currentTab,
                    showAGB,
                    disclaimerSeen,
                    disclaimer,
                    showFullCareer,
                    toggleCareer,
                }
            }
        }).mount("#app");

        var sideNav = document.querySelector(".side-nav");
        var openMenuBtn = document.querySelector("#open-menu");
        var sideNavOpen = false;

        function toggleMenu() {
            if (sideNavOpen) {
                sideNavOpen = false;
                sideNav.style.left = -100 + "rem";
                openMenuBtn.innerHTML = "&#9776;";
            } else {
                sideNavOpen = true;
                sideNav.style.left = 0;
                openMenuBtn.innerHTML = "&#10005;";
            }
        }
    </script>
</body>
</html>