/* ============================================================== Default */
:root {
    --light-green: #009b46;
    --transparent-green: rgba(81, 220, 118, 0.3);
    --transparent-light-green: rgba(81, 200, 118, .65);
    --default-radius: 8px;
    --font: "Ubuntu", monospace; /* available: Nunito, Poppins, Quicksand, Ubuntu */
}
html {
    font-size: 1em; /* change to change sizing of whole website */
}
body {
    font-family: var(--font);
    font-weight: 100;
    margin: 0;
    padding: 0;
    background-color: #d3ebde;
    overflow-y: scroll;
}
sup {
    font-size: 0.7rem;
}
::-webkit-scrollbar {
    width: 18px;
    margin-left: 2rem;
}
::-webkit-scrollbar-track {
    background-color: #8ead9c;
}
::-webkit-scrollbar-thumb {
    background-color: #5f9e7c;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #38885d;
}

#report-size {
    margin-left: .5rem;
    font-family: monospace;
    font-size: 1rem;
}

button {
    outline: none;
    font-family: var(--font);
    background-color: var(--transparent-green);
    border: 1px solid black;
    border-radius: 4px;
    padding: .2rem 1rem;
    transition: background-color .3s;
    cursor: pointer;
    font-size: 1.01rem;
    color: black;
}
button:hover {
    background-color: var(--transparent-light-green) !important;
}

/* ============================================================== Background */
/*  bg: background
    tl: top left
    br: bottom right
*/
.background {
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
}
#bg-tl {
    transform: rotate(180deg);
    position: fixed;
    top: 0;
    left: 0;
    width: 25vw;
}
#bg-br {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 40vw;
}

/* ============================================================== Center and Header */
.main-center {
    background-color: #f6fffacc;
    border-radius: var(--default-radius);
    width: 85%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 2rem;

    display: grid;
    grid-template-rows: 1fr auto;
}
.flex-header {
    padding-top: 1rem;
    display: flex;
    align-items: baseline;
    flex-direction: column;
}
.flex-header img {
    width: 17rem;
    cursor: pointer;
}

/* ============================================================== Menu */
#open-menu {
    display: none;
}
.side-nav {
    display: none;
}
.menu-bar {
    display: grid;
    gap: 15px;
    grid-template-columns: 3fr 2fr 3fr 3fr 2fr;
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1.1rem;
}
.menu-bar div {
    padding: 15px;
    border-radius: var(--default-radius);
    background-color: var(--transparent-green);
    cursor: pointer;
    transition: background-color .3s;
}
.menu-bar div:hover, .highlighted, .side-nav div:hover {
    background-color: var(--transparent-light-green) !important;
}

/* ============================================================== Content */
.main {
    font-size: 1.1rem;
    display: grid;
    grid-template-columns: 16rem auto;
}
.main.no-grid {
    display: block !important;
}
.main p {
    margin-top: 0;
    line-height: 1.2rem;
}
.main p:last-child {
    margin-bottom: 0;
}
h1.welcome-message {
    font-size: 3rem;
    margin: 5rem 0;
}
.text-center { 
    text-align: center;
}
h2 {
    margin: 1.5rem 0 1rem 0;
    font-size: 1.5rem;
}
a, g, .link-green {
    color: var(--light-green);
    font-weight: bolder;
}
a, .link-green {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
    cursor: pointer;
}
#welcome-text-mobile {
    display: none;
}

/* ============================================================== disclaimer */
#disclaimer-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffffdd;
}
#disclaimer {
    width: 12rem;
    background-color: #cceedb;
    border-radius: var(--default-radius);
    padding: .5rem;
    margin: auto;
}
#disclaimer button {
    margin-top: 1rem;
}

/* ============================================================== Lists */
ul {
    list-style-type: "+";
}
ul.black li:first-child {
    margin-top: .2rem;
}
ul.black li:last-child {
    margin-bottom: 1rem;
}
li {
    padding-left: .75rem;
    margin: .2rem 0 0 -.5em;
}
li::marker {
    content: "+";
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--light-green);
    display: inline-block;
    padding: 0;
}
ul.black li::marker {
    color: black;
}
ul.space-between-li li {
    margin-bottom: 1rem;
}
/* ============================================================== Images */
.image-container {
    margin: 0 1rem 1rem 0;
    height: auto;
}
.image {
    width: 15rem;
    filter: hue-rotate(40deg);
    /* z-index: -1; */
}
.vincent {
    filter: none !important;
}

/* ============================================================== Footer */
.icons-bottom {
    font-size: 0.9rem;
    background-color: var(--transparent-green);
    margin: 3rem 0 1.5rem 0;
    padding: 10px;
    border-radius: var(--default-radius);

    min-height: 2rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    clear: left;
}
.icon-bottom, .copyright-text {
    user-select: none;
    border: 1px solid black;
    border-radius: var(--default-radius);
    padding: 4px 10px 4px 10px;
    transition: background-color .3s;
    background-color: rgba(242, 255, 248, .8);
}
.icon-bottom:hover {
    background-color: var(--transparent-green);
}
.icon-bottom {
    cursor: pointer;
    margin-right: 1rem;
}
.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ============================================================== Responsive */
@media screen and (max-width: 1360px) { /* Show Side-Nav */
    .menu-bar {
        display: none;
    }
    .grid-header {
        display: grid;
        grid-template-columns: 1fr 3rem;
    }
    #welcome-text-mobile {
        display: block;
    }
    #welcome-text-desktop {
        display: none;
    }

    /* ========================================================== Side-Nav */
    #open-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--light-green);
        font-size: 2.8rem;
        cursor: pointer;
        transition: color .3s;
        user-select: none;
        margin-top: 1rem;
    }
    #open-menu:hover {
        color: #38885d;
    }
    .side-nav {
        display: block;
        position: fixed;
        top: 0;
        left: -100rem;
        background-color: #38885d;
        color: white;
        width: 35vw;
        height: 100%;
        transition: .3s;
        padding: 1.5rem;
        font-size: 1.2rem;
        z-index: 100;
    }
    .side-nav div {
        padding: .7rem;
        margin-bottom: .2rem;
        border-radius: var(--default-radius);
        cursor: pointer;
        transition: background-color .3s;
    }
}

@media screen and (max-width: 800px) { /* Full-size main part */
    .main-center {
        margin: 0;
        width: auto;
    }
}
@media screen and (max-width: 720px) { /* Main part as block not grid */
    .side-nav {
        width: 50vw;
    }
    .flex-header img {
        width: 13rem;
    }
    .main {
        display: block;
    }
    .vincent {
        float: left;
        margin: 0 1rem 1rem 0;
    }
}
@media screen and (max-width: 500px) { /* Smaller images and Side-Nav */
    .side-nav {
        width: 70vw;
    }
    .image {
        width: 10rem;
    }
}